html {
	@include inset(0, fixed);

	/*
	This is a base font size for the entire project
	In dev mode, the original font-size is 20px and every component uses rem units
	When the project is built, the font-size needs to be changed to match the arcade machine
	20px corresponds to a 1280x720 resolution
	The arcade machine has a 5120x2880 resolution
	The font-size should be four times bigger (80px) in production.
	*/

	overflow: hidden;
}

body {
	@include inset(0, fixed);

	font-family: Gaegu, sans-serif;
	font-style: normal;
	font-weight: 400;
	overflow: hidden;
	user-select: none;
}
